.main_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.section_01 h1 {
	font-size: 6rem;
}

@media only screen and (max-width: 600px) {
	.section_01 h1 {
		font-size: 4rem;
	}	
}