.image_border_circle {
	
	max-width: fit-content;
	
	display: flex;

	align-items: center;
	justify-content: center;

	border-color: var(--bg-secondary);
	border-radius: 50%;

	-webkit-transition: opacity 600ms, visibility 600ms;
	transition: opacity 600ms, visibility 600ms;
}