.message_cluster {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
}

.message_container {
    background: linear-gradient(45deg, var(--bg-secondary), var(--bg-primary));
    padding: 0.8rem;
    min-width: 15rem;
    max-width: 30%;
    margin: 1rem;
}

.message_inner {
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.message_inner > * {
    filter: unset;
}

.message_inner name {
    text-align: right;
}
